<div class="column">
  <div class="ui fluid card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <%= image_tag "http://www.hashkitten.com/500/500/elliot" %>
      <!-- <img src="/images/avatar/large/elliot.jpg"> -->
    </div>
    <div class="content">
      <a class="header">Team Fu</a>
      <div class="meta">
        <span class="date">Create in Sep 2014</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        2 Members
      </a>
    </div>
  </div>
</div>

<!--
<%= link_to profile do %>
  <div class="profiles__profile">
    <%#= image_tag profile.picture, class: "profiles__profile__picture" %>
    <%#= image_tag "http://www.hashkitten.com/500/500/#{profile.id}", class: "profiles__profile__picture" %>
    <div class="profiles__profile__content">
      <div class="profiles__profile__content__name">
        <%= profile.name %>
      </div>
      <div class="profiles__profile__content__description">
        <%= truncate profile.description, length: 50 %>
      </div>
      <div class="tags">
        <% profile.tags.each do |tag| %>
          <span class="tags__tag"><%= tag %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
