<%= link_to profile do %>
  <div class="profiles__profile">
    <%#= image_tag profile.picture, class: "profiles__profile__picture" %>
    <%= image_tag "http://www.hashkitten.com/500/500/#{profile.id}", class: "profiles__profile__picture" %>
    <div class="profiles__profile__content">
      <div class="profiles__profile__content__name">
        <%= profile.name %>
      </div>
      <div class="profiles__profile__content__description">
        <%= truncate profile.description, length: 50 %>
      </div>
      <div class="tags">
        <% profile.tags.each do |tag| %>
          <span class="tags__tag"><%= tag %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
