<div class="profile">
  <div class="profile__name container">
    <%= @profile.name %>
  </div>

  <%= image_tag @profile.picture, class: "profile__picture" %>

  <% if @profile != current_profile %>
    <div class="friendship">
      <% friendship = current_profile.friend_status(@profile) %>
      <% if friendship == nil %>
        <%= link_to "Add Friend", friendships_path(:requestee_id => @profile), :method => :post %>
      <% elsif (friendship.status == :accepted) %>
        You are friends
      <% elsif (friendship.status == :awaiting_your_reply) %>
        <%= link_to "Accept friend request", friendship_path(:id => friendship), :method => :put %>
      <% elsif friendship.status == :pending %>
        Your friend request is pending
      <% end %>
    </div>
  <% end %>

  <div class="container">
    <div class="profile__tags tags">
      <% @profile.tags.each do |tag| %>
        <span class="tags__tag"><%= tag %></span>
      <% end %>
    </div>

    <div class="profile__description">
      <p><%= @profile.description %></p>
    </div>

    <p>
      <%= link_to "Edit your profile", edit_profile_path %>
    </p>
  </div>
</div>
