<div class="ui horizontal divider">
  Sign up
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui large form" }) do |f| %>
  <div class="field">
    <%= f.label :name, "What would you like to call your family?" %>
    <div class="ui input">
      <%= f.text_field :name, placeholder: "E.g. The Outdoors Family" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :location_id, "Where do you live at the moment?" %>
    <%= f.collection_select :location_id, Location.all, :id, :name, {}, class: "ui dropdown" %>
  </div>

  <div class="field">
    <%= f.label :email, "Enter your email" %>
    <div class="ui input">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, "Enter a password" %>
    <div class="ui input">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Enter the password again" %>
    <div class="ui input">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <%= f.submit "Sign up", class: "fluid ui large teal button" %>
<% end %>


<!--
<div class="container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
    <% if resource.errors.present? %>
      <%= debug resource.errors.full_messages %>
    <% end %>

    <%= f.hidden_field :native, value: params[:native] %>

    <div class="form__field">
      <%= f.label :name, "What would you like to call your family?", class: "form__label" %>
      <div class="form__hint">(it could be an interest, e.g. the outdoors family)</div>
      <%= f.text_field :name, class: "form__input" %>
    </div>

    <div class="form__field">
      <%= f.label :location_id, "Where do you live at the moment?", class: "form__label" %>
      <%= f.collection_select :location_id, Location.all, :id, :name, {}, class: "select-box" %>
    </div>

    <div class="form__field">
      <%= f.label :email, "Choose an email for the account", class: "form__label" %>
      <%= f.email_field :email, class: "form__input" %>
    </div>

    <div class="form__field">
      <%= f.label :password, "Choose a password for the account", class: "form__label" %>
      <%= f.password_field :password, autocomplete: "off", class: "form__input" %>
    </div>

    <div class="form__field">
      <%= f.label :password_confirmation, "Type the password again", class: "form__label" %>
      <div class="form__hint">(to make sure you typed it correctly)</div>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form__input" %>
    </div>

    <%= f.submit "Sign up", class: "button button--block" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
