<!DOCTYPE html>
<html>
<head>
  <title>Blending</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <ul>
      <li><%= link_to "Profile Index", profiles_path %></li>
      <li><%= link_to "My Profile", profile_path(current_profile) %></li>
      <li><%= link_to "Settings", edit_profile_registration_path(current_profile) %></li>
      <li>
        <% if signed_in? %>
          <%= link_to "Sign out", destroy_profile_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_profile_session_path %>
        <% end %>
      </li>
    </ul>
  </nav>



  <%= yield %>

</body>
</html>
